/old/
/src/Sheet1.doccls
/src/Sheet2.doccls
/src/Sheet3.doccls
/src/ThisWorkbook.doccls
BetterArray.xlsb
~$BetterArray.xlsb
/docs/assets/img/raw
/src/QuickTests.bas
/src/Archive.bas
/src/Examples.bas
/releases/v*
/releases/temp
/build/
BetterArray.xlsm
~$BetterArray.xlsm
SpillExample.xlsm
~$SpillExample.xlsm
csv_data/