/old/
/src/Sheet1.doccls
/src/Sheet2.doccls
/src/Sheet3.doccls
/src/ThisWorkbook.doccls
BetterArray.xlsb
~$BetterArray.xlsb
/docs/assets/img/raw
/src/QuickTests.bas
/src/Archive.bas
/src/Examples.bas
/releases/
/build/
vba-block.toml